In [1]:
import os
import json

In [3]:
path_1=['D:\\Project_DLTM\\FakeHealth-master\\dataset\\content\\HealthRelease',
      'D:\\Project_DLTM\\FakeHealth-master\\dataset\\content\\HealthStory']
path_2=['D:\\Project_DLTM\\FakeHealth-master\\dataset\\reviews\\HealthRelease.json','D:\\Project_DLTM\\FakeHealth-master\\dataset\\reviews\\HealthStory']

# FakeHealth Dataset

In [ ]:
import os
import json

def json_data(path_1):
    data = dict()
    news_id=[]

    
    for path in path_1:
        for file in os.listdir(path):
            if file.endswith('.json'):
                news_id.append(file[:-5])
                file_path = os.path.join(path, file)
                with open(file_path, 'r', encoding='utf-8') as f:
                    try:
                        file_data = json.load(f)
                    except json.JSONDecodeError:
                        print(f"Skipping invalid or empty JSON file: {file}")
                        continue

                    if not data:
                        # First file: initialize structure with lists
                        data = {key: [value] for key, value in file_data.items()}
                    else:
                        # Next files: append values to existing lists
                        for key in data:
                            if key in file_data:
                                data[key].append(file_data[key])
                            else:
                                print(f"Missing key '{key}' in file: {file}")
                                data[key].append(None)  # or raise an error
                    
    return data,news_id

data,news_id=json_data(path_1)

In [12]:
import pandas as pd

df=pd.DataFrame(data)
df['news_id']=news_id
df.tail(2)

                                                    url  ...              news_id
2235  http://www.CNN.com/2009/HEALTH/12/11/bionic.ey...  ...  story_reviews_01698
2236  http://www.usatoday.com/news/health/2009-12-10...  ...  story_reviews_01699

[2 rows x 14 columns]

In [14]:
df2=pd.read_json(path_2[0])
df2.tail(2)

                                                  link  ...             news_source
604  https://www.healthnewsreview.org/news-release-...  ...  Joslin Diabetes Center
605  https://www.healthnewsreview.org/news-release-...  ...

[2 rows x 13 columns]

In [17]:
# import pandas as pd
df_comb = df.merge(df2,how='inner',on='news_id')
df_comb.columns
# df.to_csv('D:\\Project_DLTM\\fakehealth.csv', index=False, encoding='utf-8-sig')

Index(['url', 'text', 'images', 'top_img', 'keywords', 'authors',
       'canonical_link', 'title_x', 'meta_data', 'movies', 'publish_date',
       'source', 'summary_x', 'news_id', 'link', 'title_y', 'description',
       'original_title', 'rating', 'reviewers', 'category', 'tags',
       'source_link', 'summary_y', 'criteria', 'news_source'],
      dtype='object')

In [20]:
fake_health=df_comb[['original_title','text','source','rating']]
fake_health['labels']=fake_health['rating'].map({1:'FAKE',2:'Unreliable',3:'Unreliable',4:'Reliable',5:'Reliable'})
fake_health.shape
# fake_health['label']='Fake'

C:\Users\Manu\AppData\Local\Temp\ipykernel_11868\2148961805.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fake_health['labels']=fake_health['rating'].map({1:'FAKE',2:'Unreliable',3:'Unreliable',4:'Reliable',5:'Reliable'})

(599, 5)

# Monant Dataset

In [ ]:
#######################################################monant-medic-info

path_1=['D:\Project_DLTM\medical-misinformation-dataset-main\sample_data']

    #   'D:\\Project_DLTM\\FakeHealth-master\\dataset\\content\\HealthStory']
path_2=['D:\Project_DLTM\monant-dataset\\full_data\']

['D:\\Project_DLTM\\medical-misinformation-dataset-main\\sample_data']

In [14]:
# paths=os.listdir(path_1[0])
paths=os.listdir(path_1[0])

In [64]:
## article media

def cols(path):
    data=pd.read_csv(path)
    return data.columns.tolist()

for path in paths:
    print(path)
    print(cols(os.path.join(path_1[0],path)))
    # print('\n\n')

annotation_types.csv
['id', 'name', 'description', 'enumeration', 'created_at', 'updated_at']
articles.csv
['id', 'title', 'author_id', 'body', 'raw_body', 'category', 'perex', 'url', 'source_id', 'other_info', 'published_at', 'extracted_at', 'feedback_facebook_id', 'monitoring_tags']
article_authors.csv
['id', 'name', 'source_id']
article_media.csv
['id', 'article_id', 'media_type_id', 'url', 'caption', 'extracted_at']
claims.csv
['id', 'name', 'statement', 'description', 'category', 'rating', 'queries', 'created_at', 'updated_at']
discussion_posts.csv
['id', 'source_id', 'author_id', 'parent_post_id', 'related_object_url', 'title', 'body', 'body_raw', 'url', 'up_votes', 'down_votes', 'other_info', 'published_at', 'extracted_at', 'monitoring_tags']
discussion_post_authors.csv
['id', 'source_id', 'name', 'url', 'avatar_url']
entity_annotations.csv
['id', 'method_id', 'annotation_type_id', 'annotation_category', 'entity_type', 'entity_id', 'value', 'created_at', 'updated_at']
fact_checking_articles.csv
['id', 'claim', 'description', 'raw_description', 'rating', 'category', 'url', 'source_id', 'other_info', 'published_at', 'extracted_at', 'monitoring_tags', 'created_at', 'updated_at']
fact_checking_article_media.csv
['id', 'fact_checking_article_id', 'media_type_id', 'url', 'caption', 'extracted_at']
feedback_facebook.csv
['id', 'related_object_url', 'reaction_count', 'comment_count', 'share_count', 'comment_plugin_count', 'extracted_at', 'feedback_sum']
media_types.csv
['id', 'name']
methods.csv
['id', 'name', 'description', 'created_at', 'updated_at']
relation_annotations.csv
['id', 'method_id', 'annotation_type_id', 'annotation_category', 'source_entity_type', 'source_entity_id', 'target_entity_type', 'target_entity_id', 'value', 'created_at', 'updated_at']
sources.csv
['id', 'name', 'source_type_id', 'url', 'created_at', 'updated_at']
source_types.csv
['id', 'name']

In [21]:
articles=pd.read_csv('D:\Project_DLTM\medical-misinformation-dataset-main\sample_data\\articles.csv')
articles.head(1)

       id  ...   monitoring_tags
0  378277  ...  english, medical

[1 rows x 14 columns]

In [25]:
fact_articles=pd.read_csv('D:\Project_DLTM\medical-misinformation-dataset-main\sample_data\\fact_checking_articles.csv')
print(fact_articles.columns)
fact_articles.head(1)

Index(['id', 'claim', 'description', 'raw_description', 'rating', 'category',
       'url', 'source_id', 'other_info', 'published_at', 'extracted_at',
       'monitoring_tags', 'created_at', 'updated_at'],
      dtype='object')

     id  ...                     updated_at
0  5157  ...  2019-09-05 06:55:52.430211+02

[1 rows x 14 columns]

In [ ]:
# fact_articles['text']=fact_articles['claim']+fact_articles['description']
# fact_articles['source']=
fact_articles['other_info'][0]

AttributeError: 'str' object has no attribute 'read'

In [4]:
claims=pd.read_csv('D:\Project_DLTM\medical-misinformation-dataset-main\sample_data\\claims.csv')
claims.head(1)
# claims.shape

,id,name,statement,description,category,rating,queries,created_at,updated_at
0,6771,NaN,Dawn dish soap contains ammonia even though it...,Could Mixing Dawn Dish Soap with Clorox Bleach...,"{medical,science}",mixture,NaN,2020-06-28 21:40:18.799231+02,2020-06-28 21:40:18.799231+02

In [41]:
sources=pd.read_csv('D:\Project_DLTM\medical-misinformation-dataset-main\sample_data\\sources.csv')
sources.head(10)

sources.rename(columns={'id':'source_id'},inplace=True)
sources.head(10)

,source_id,name,source_type_id,url,created_at,updated_at
0,142,naturalnewsblogs.com,1,http://naturalnewsblogs.com,2019-09-05 06:45:27.646507+02,2019-09-05 06:45:27.646507+02
1,143,naturalawakeningsmag.com,1,http://naturalawakeningsmag.com,2019-09-05 06:45:27.828926+02,2019-09-05 06:45:27.828926+02
2,144,collective-evolution.com,1,http://collective-evolution.com,2019-09-05 06:45:32.032093+02,2019-09-05 06:45:32.032093+02
3,145,naturalnews.com,1,http://naturalnews.com,2019-09-05 06:45:37.696388+02,2019-09-05 06:45:37.696388+02
4,146,genuinehealth.com,1,http://genuinehealth.com,2019-09-05 06:50:58.285959+02,2019-09-05 06:50:58.285959+02
5,147,blogspot.com,1,http://blogspot.com,2019-09-05 06:51:44.895736+02,2019-09-05 06:51:44.895736+02
6,148,ageofautism.com,1,http://ageofautism.com,2019-09-05 06:51:59.071054+02,2019-09-05 06:51:59.071054+02
7,149,autismspeaks.org,1,http://autismspeaks.org,2019-09-05 06:52:04.276975+02,2019-09-05 06:52:04.276975+02
8,150,factcheck.org,2,http://factcheck.org,2019-09-05 06:55:13.469949+02,2019-09-05 06:55:13.469949+02
9,152,politifact.com,2,http://politifact.com,2019-09-05 06:55:21.809559+02,2019-09-05 06:55:21.809559+02

In [67]:
updated_df=articles.merge(sources,how='left',on='source_id')
monant_articles=updated_df[['title','body','name']]
monant_articles['label']='Not Sure'

C:\Users\Manu\AppData\Local\Temp\ipykernel_12024\3700796416.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monant_articles['label']='Not Sure'

In [51]:
fake_health.columns

Index(['title', 'text', 'source'], dtype='object')

In [68]:
final_data = pd.DataFrame(columns=['title', 'text', 'source','label'])
monant_articles.rename(columns={'body':'text','name':'source'},inplace=True)
final_data = pd.concat([final_data, fake_health,monant_articles],axis=0, ignore_index=True)

C:\Users\Manu\AppData\Local\Temp\ipykernel_12024\745710639.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  monant_articles.rename(columns={'body':'text','name':'source'},inplace=True)

In [69]:
final_data.shape

(3237, 4)

In [70]:
final_data.head(5)

,title,text,source,label
0,Tiny implantable device short-circuits hunger ...,"MADISON, Wis. -- More than 700 million adults ...",https://web.archive.org,Fake
1,Scientists report CRISPR restores effectivenes...,"Wilmington, DE, December 17, 2018 - The CRISPR...",https://web.archive.org,Fake
2,Probiotics could help millions of patients suf...,About 3 million people in the US are diagnosed...,https://web.archive.org,Fake
3,Yes Please to Yogurt and Cheese: The New Impro...,Newswise — Thousands of people can take heart ...,https://www.newswise.com,Fake
4,Johns Hopkins team identifies promising diagno...,Researchers at Johns Hopkins Medicine have ide...,https://web.archive.org,Fake

## Full data

In [30]:
import pandas as pd

claims=pd.read_csv("D:\Project_DLTM\monant-dataset\\full_data\claims.csv")
# claims.head()

In [31]:
claims=claims.rename(columns={'statement':'title','description':'text','rating':'label','name':'source'})
# claims['source']=
claims=claims.tail(2430)[['title','text','source','label']]
# artciles=pd.read_csv("D:\Project_DLTM\monant-dataset\\full_data\\articles.csv")
# articles.head(5)

In [36]:
final_data=pd.read_csv('D:\\Project_DLTM\\fakehealth.csv')
final_data=pd.concat((final_data,claims),axis=0)
final_data.to_csv('D:\\Project_DLTM\\fakehealth.csv', index=False, encoding='utf-8-sig')

,title,text,source,label
3413,An official NHS poster warns that Covid-19 vac...,NHS poster about Bell’s palsy and vaccines is ...,NaN,NaN
3414,"In January 2022, a Boston hospital denied a pa...",Did a Boston Hospital Deny Patient Heart Trans...,NaN,true
3415,"While the media talks a lot of the 150,000 dea...",Dan Wootton and David Davis make incorrect cla...,NaN,NaN
3416,"Rubbing hydrogen peroxide on the body “once, p...",Rubbing hydrogen peroxide over your body every...,NaN,NaN
3417,"The ONS has admitted only 6,183 people died of...","The ONS has not said only 6,183 people have di...",NaN,NaN
3418,Total Deaths From COVID MUCH LOWER Than Reported”,COVID-19 deaths in people with pre-existing he...,NaN,NaN
3419,Worldwide Data suggests Fully Vaccinated [peop...,The COVID-19 vaccines protect people from seve...,NaN,false
3420,"The Spanish Flu wasn’t a flu virus, it was a b...",Spanish Flu pandemic wasn’t caused by a mening...,NaN,NaN
3421,The Spanish Flu did not originate in Spain. It...,Spanish Flu pandemic wasn’t caused by a mening...,NaN,NaN
3422,Do bananas help with cramp?,NaN,NaN,unknown

In [27]:
claims['queries'][1000]

'{"regexp":"(?=\\borgone\\b|\\borgonite\\b|\\bcloudbuster\\b|\\bWilhelm Reich\\b)(?=cancer)"}'

In [29]:
claims['name']

993               Native American healing
994                           Naturopathy
995                               Nerium
996     Neuro-linguistic programming, NLP
997                        Nieper therapy
                      ...
3418                                  NaN
3419                                  NaN
3420                                  NaN
3421                                  NaN
3422                                  NaN
Name: name, Length: 2430, dtype: object

# PubHealthTab

In [89]:
pub_t=pd.read_json("D:\Project_DLTM\PubHealthTab-main\data\pubhealthtab.jsonl",lines=True)
pub_t['title']=[pub_t['table'][i]['website_title'] for i in range(pub_t.shape[0])]
pub_t['source']=[pub_t['table'][i]['website'] for i in range(pub_t.shape[0])]
pub_t.rename(columns={'claim':'text'},inplace=True)
pub_t=pub_t[['title','text','source','label']]

final_data = pd.concat([final_data, pub_t],axis=0, ignore_index=True)
final_data.tail(5)

,title,text,source,label
5174,Visualizing the State of Government Debt Aroun...,"Our spending has caught up with us, and our de...",https://howmuch.net/articles/state-of-the-worl...,NOT ENOUGH INFO
5175,How much did the Apollo program cost? | The Pl...,Restored Mission Control comes alive 50 years ...,https://www.planetary.org/space-policy/cost-of...,NOT ENOUGH INFO
5176,Vaping-associated lung illness - Canada.ca,THC will be removed from drug-test screenings ...,https://www.canada.ca/en/public-health/service...,NOT ENOUGH INFO
5177,The Influence of Obesity on the Complication R...,Wrist replacement surgery is a last resort for...,https://journals.lww.com/jbjsjournal/Fulltext/...,NOT ENOUGH INFO
5178,Methotrexate Monograph for Professionals - Dru...,New psoriasis drug is more effective than curr...,https://www.drugs.com/monograph/methotrexate.html,NOT ENOUGH INFO

In [90]:
final_data.to_csv('D:\\Project_DLTM\\fakehealth.csv', index=False, encoding='utf-8-sig')

# Recovery-news

In [2]:
import pandas as pd

data=pd.read_csv("D:\Project_DLTM\\recovery-news-data.csv")
data.head(1)

,Unnamed: 0,news_id,url,publisher,publish_date,author,title,image,body_text,political_bias,country,reliability
0,0,0,https://www.nytimes.com/article/what-is-corona...,The New York Times,2020-01-21,"['Knvul Sheikh', 'Roni Caryn Rabin']",The Coronavirus: What Scientists Have Learned ...,https://static01.nyt.com/images/2020/03/12/sci...,\nA novel respiratory virus that originated in...,Left,USA,1

In [22]:
data.rename(columns={'body_text':'text','publisher':'source','reliability':'label'},inplace=True)
recovery=data[['title','text','source','label']].copy()
# data.columns

In [24]:
recovery['label']=recovery['label'].map({1:'Realiable',0:'Unreliable'})

In [26]:
final_data=pd.read_csv('D:\\Project_DLTM\\fakehealth.csv')
final_data=pd.concat((final_data,recovery))
final_data.to_csv('D:\\Project_DLTM\\fakehealth.csv', index=False, encoding='utf-8-sig')

In [27]:
final_data.shape

(7208, 4)

# Hover

In [28]:
data=pd.read_json("D:\Project_DLTM\hover_train_release_v1.1.json")
data.head()

,uid,claim,supporting_facts,label,num_hops,hpqa_id
0,330ca632-e83f-4011-b11b-0d0158145036,Skagen Painter Peder Severin Krøyer favored na...,"[[Kristian Zahrtmann, 0], [Kristian Zahrtmann,...",SUPPORTED,3,5ab7a86d5542995dae37e986
1,ca7db8e1-799a-4498-b31b-b1a430b5874e,Skagen Painter Peder Severin Krøyer favored na...,"[[Kristian Zahrtmann, 0], [Kristian Zahrtmann,...",SUPPORTED,3,5ab7a86d5542995dae37e986
2,2e9cf58a-40e1-47ee-aaa8-3b84ebe94cd0,Skagen Painter Peder Severin Krøyer favored na...,"[[Kristian Zahrtmann, 0], [Kristian Zahrtmann,...",NOT_SUPPORTED,3,5ab7a86d5542995dae37e986
3,f2f4b69d-d833-4f6d-a630-f156a2559af6,"Skagen Painter, who painted the 1893 painting ...","[[Kristian Zahrtmann, 0], [Kristian Zahrtmann,...",NOT_SUPPORTED,4,5ab7a86d5542995dae37e986
4,824c8ffa-da36-45ea-9f68-0342e3893a63,Skagen Painter Peder Severin Krøyer favored na...,"[[Kristian Zahrtmann, 0], [Kristian Zahrtmann,...",NOT_SUPPORTED,3,5ab7a86d5542995dae37e986

In [45]:
data[data['label']=='SUPPORTED']['claim'][18167]

'The free agent quarterback acquired for the 2015 Buffalo Bills season played college football at Virginia Tech.'

# Final Data Processing

In [7]:
final_data=pd.read_csv('D:\\Project_DLTM\\model_data.csv')
final_data.shape

(9638, 6)

In [8]:
final_data.head(3)

,title,text,source,label,complete,cleaned_text
0,Tiny implantable device short-circuits hunger ...,"MADISON, Wis. -- More than 700 million adults ...",https://web.archive.org,Fake,Tiny implantable device short-circuits hunger ...,tiny implantable device shortcircuits hunger p...
1,Scientists report CRISPR restores effectivenes...,"Wilmington, DE, December 17, 2018 - The CRISPR...",https://web.archive.org,Fake,Scientists report CRISPR restores effectivenes...,scientists report crispr restores effectivenes...
2,Probiotics could help millions of patients suf...,About 3 million people in the US are diagnosed...,https://web.archive.org,Fake,Probiotics could help millions of patients suf...,probiotics could help millions of patients suf...

In [3]:
final_data['source'].fillna('Source Unknown',inplace=True)

In [5]:
final_data.fillna('info not available',inplace=True)

In [12]:
final_data.tail(100)

,title,text,source,label,complete,cleaned_text
9538,Covid vaccines can’t stop people spreading the...,Lionel Shriver is wrong to say that Covid-19 v...,Source Unknown,NaN,Covid vaccines can’t stop people spreading the...,covid vaccines can t stop people spreading the...
9539,Vaccinated people over 30 have higher rates of...,Lionel Shriver is wrong to say that Covid-19 v...,Source Unknown,NaN,Vaccinated people over 30 have higher rates of...,vaccinated people over have higher rates of ...
9540,Weight loss pills advertised on Facebook have ...,Facebook posts falsely advertise weight loss p...,Source Unknown,NaN,Weight loss pills advertised on Facebook have ...,weight loss pills advertised on facebook have ...
9541,90% of people in hospital with Covid-19 are un...,Lorraine Kelly and her guests were wrong about...,Source Unknown,NaN,90% of people in hospital with Covid-19 are un...,of people in hospital with covid are unvacc...
9542,"In Germany, a fence separates vaccinated and u...","No, a fence in a shopping mall wasn't used to ...",Source Unknown,false,"In Germany, a fence separates vaccinated and u...",in germany a fence separates vaccinated and un...
...,...,...,...,...,...,...
9633,Total Deaths From COVID MUCH LOWER Than Reported”,COVID-19 deaths in people with pre-existing he...,Source Unknown,NaN,Total Deaths From COVID MUCH LOWER Than Report...,total deaths from covid much lower than report...
9634,Worldwide Data suggests Fully Vaccinated [peop...,The COVID-19 vaccines protect people from seve...,Source Unknown,false,Worldwide Data suggests Fully Vaccinated [peop...,worldwide data suggests fully vaccinated peopl...
9635,"The Spanish Flu wasn’t a flu virus, it was a b...",Spanish Flu pandemic wasn’t caused by a mening...,Source Unknown,NaN,"The Spanish Flu wasn’t a flu virus, it was a b...",the spanish flu wasn t a flu virus it was a ba...
9636,The Spanish Flu did not originate in Spain. It...,Spanish Flu pandemic wasn’t caused by a mening...,Source Unknown,NaN,The Spanish Flu did not originate in Spain. It...,the spanish flu did not originate in spain it ...
9637,Do bananas help with cramp?,NaN,Source Unknown,unknown,NaN,NaN

In [ ]:
# final_data['complete']=final_data['title']+final_data['text']+final_data['source']

In [45]:
import re
import string
from bs4 import BeautifulSoup

def clean_text(text):
    text=str(text).lower()
    text=re.sub(r'\d+',' ',text) #remove numbers
    text=text.translate(str.maketrans('', '',string.punctuation)) #remove punctuation
    text = re.sub(r'\W',' ',text) #remove special chars
    text = BeautifulSoup(text,'html.parser').get_text()
    return text

final_data['cleaned_text']=[clean_text(text) for text in final_data['complete']]

In [47]:
final_data.head(2)

,title,text,source,label,complete,cleaned_text
0,Tiny implantable device short-circuits hunger ...,"MADISON, Wis. -- More than 700 million adults ...",https://web.archive.org,Fake,Tiny implantable device short-circuits hunger ...,tiny implantable device shortcircuits hunger p...
1,Scientists report CRISPR restores effectivenes...,"Wilmington, DE, December 17, 2018 - The CRISPR...",https://web.archive.org,Fake,Scientists report CRISPR restores effectivenes...,scientists report crispr restores effectivenes...

In [49]:
final_data['cleaned_text'][0]

'tiny implantable device shortcircuits hunger pangs aids weight lossmadison wis  more than   million adults and children worldwide are obese according to a   study that called the growing number and weightrelated health problems a rising pandemic  new batteryfree easily implantable weightloss devices developed by engineers at the university of wisconsinmadison could offer a promising new weapon for battling the bulge  in laboratory testing the devices helped rats shed almost   percent of their body weight results of the study were published today dec     in the journal nature communications  measuring less than   centimeter across or about a third of the area of a us penny the tiny devices  which are safe for use in the body and implantable via a minimally invasive procedure  generate gentle electric pulses from the stomachs natural churning motions and deliver them to the vagus nerve which links the brain and the stomach  that gentle stimulation dupes the brain into thinking that the stomach is full after only a few nibbles of food  the pulses correlate with the stomachs motions enhancing a natural response to help control food intake says xudong wang a uwmadison professor of materials science and engineering  unlike gastric bypass which permanently alters the capacity of the stomach the effects of the new devices also are reversible when wang and his collaborators removed the devices after   weeks the studys rats resumed their normal eating patterns and weight bounced right back on  wangs device has several advantages over an existing unit that stimulates the vagus nerve for weight loss that existing unit maestro approved by the food and drug administration in   administers highfrequency zaps to the vagus nerve to shut down all communication between the brain and stomach it requires a complicated control unit and bulky batteries which frequently must be recharged  that ongoing maintenance can be a big barrier to use says luke funk a surgery professor in uwmadisons division of minimally invasive foregut and bariatric surgery one potential advantage of the new device over existing vagus nerve stimulators is that it does not require external battery charging which is a significant advantage when you consider the inconvenience that patients experience when having to charge a battery multiple times a week for an hour or so  in fact wangs device contains no batteries no electronics and no complicated wiring it relies instead on the undulations of the stomach walls to power its internal generators  that means the device only stimulates the vagus nerve when the stomach moves  its automatically responsive to our body function producing stimulation when needed says wang our body knows best  wang is a world expert in wearable and implantable capacitive electricitygenerating devices having previously created implantable nanogenerators that harvest energy from peoples beating hearts and breathing a motionpowered bandage for wound healing and other such devices  he and his collaborators patented the weightloss device through the wisconsin alumni research foundation and are moving forward with testing in larger animal models if successful they hope to move toward human trials  our expectation is that the device will be more effective and convenient to use than other technologies says wang    uwmadison radiology professor weibo cai is also a senior author on the study  this research was supported by grants from the national institutes of health r eb  and p ca   sam millionweaver      millionweavewisceduhttpswebarchiveorg'

In [14]:
final_data.to_csv('model_data_2.csv',encoding='utf-8',index=False)

In [15]:
final_data.shape

(9638, 6)